{% extends "menu/base.html" %}

{% block page_header %}
    <div class="border-bottom">
        <div class="text-center m-5">
            <h1 class="display-4">Ресторан</h1>
            <h2>"Готовим как Гордон Рамзи"</h2>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% regroup dishes by category as category_list %}
            {% for category in category_list %}
            <h3 class="text-center m-4">{{ category.grouper }}</h3>
            <div class="container">
                <div class="row">
                {% for dish in category.list %}
                    <div class="col-sm-4 text-center">
                        <img src="{{ dish.image.url }}" width="250">
                        <h5 class="m-2">{{ dish.dish_name }}</h5>
                        <p class="m-2">Б/Ж/У: {{ dish.protein }}/{{ dish.fat }}/{{ dish.carbohydrates }} г, {{ dish.energy }} кКал</p>
                        <p class="m-2">{{ dish.price }} руб.</p>
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" name="selected_id" value="{{ dish.id }}">
                            <label class="form-check-label" for="selected_id">Добавить</label>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        <div class="text-center m-5">
            <button name="submit" class="btn btn-primary">Отправить</button>
        </div>
    </form>
{% endblock content %}